@keyframes bounce-7 {
  0%   { transform: scale(1,1)      translateY(-200px); }
  10%  { transform: scale(1.1,.9)   translateY(0); }
  30%  { transform: scale(.9,1.1)   translateY(-30px); }
  50%  { transform: scale(1.05,.95) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-20px); }
  64%  { transform: scale(1,1)      translateY(0); }
  81%  { transform: scale(1,1)      translateY(-4px); }
  90%  { transform: scale(1,1)      translateY(0px); }
  95%  { transform: scale(1,1)       translateY(-2px); }
  100% { transform: scale(1,1)      translateY(0px); }
}

/* HELLO WORLD */

@keyframes expand {
  0% {
    height: 0;
  }
  100% {
    height: 40px
  }
}

@keyframes collapse {
  0% {
    height: 40px;
  }
  100% {
    height: 0;
  }
}

@keyframes fadeInWithSlideRight {
  0% {
    opacity: 0;
    transform: translateX(-40%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes fadeInWithSlideLeft {
  0% {
    opacity: 0;
    transform: translateX(40%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none; 
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.noLink {
  text-decoration: none;
  color: black;
}
.noLink.Home {
  width: fit-content;
}
.noLink:hover {
  color: black;
}
@font-face {
  font-family: dungeonFont;
  src: url('./fonts/DUNGRG__.TTF')
}
@font-face {
  font-family: grutchFont;
  src: url('./fonts/grutchFont/GrutchShaded.ttf')
}

#root {
  position: relative;
  min-height: 100vh;
}
/* -------------------- NAVBAR STYLINGS --------------------- */



.navbar {
  background-color: rgba(0, 143, 149, 1);
  font-family: Khula-Bold;
  padding-bottom: 200px;
  position: relative;
  clip-path:ellipse(100% 100% at 20% 0);
  transition: 500ms;
}
@media(max-width: 767px), (max-height: 420px) {
  .navbar {
    clip-path:ellipse(100% 100% at 40% 0);
    padding-bottom: 150px;
  }
}

.navbar-brand,
.navbar-toggler,
.navbar-collapse {
  position: relative;
  z-index: 100;
}
.container {
  position: relative;
  z-index:inherit;
  margin-top: 100px;
}



.navbar-collapse {
  justify-content: flex-end;
  margin-right: 2em;
}
.collapsing {
  position: relative;
  overflow: hidden;
  animation: collapse;
  animation-fill-mode: forwards;
  animation-duration: 300ms;
  animation-timing-function: ease;
}

.expanding {
  position: relative;
  overflow: hidden;
  animation: expand;
  animation-fill-mode: forwards;
  animation-duration: 300ms;
  animation-timing-function: ease;
}

.navbar-brand {
  font-size: 28px;
  padding-left: 2em;
}

.period {
  transform: translateY(-3000px);
}
.period {
  animation: bounce-7;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.titleSpecial,
.otherTitleSpecial {
  opacity: 0%;
}

.otherTitleSpecial {
  display: inline-block;
  animation: fadeInWithSlideLeft;
  animation-duration: 600ms;
  animation-fill-mode: forwards;
}
.t-letter {
  /*font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
  font-family:Khula-Regular;
}

.titleSpecial {
  display: inline-block;
  animation: fadeInWithSlideRight;

  animation-duration: 600ms;
  animation-fill-mode: forwards;
}

.otherTitleSpecial,
.period,
.titleSpecial,
.t-letter {
  font-size: 45px;
}
@media(max-width: 575px) {
  .otherTitleSpecial,
  .period,
  .titleSpecial,
  .t-letter {
    font-size: 35px;
  }
}

.navbar-collapse {
  text-align: center;
}
.nav-link {
  color: white !important;
  font-family: Khula-Regular !important;
  position: relative;
}

.nav-link:hover {
  color: rgb(248, 128, 146) !important;
}

.nav-link::before {
  transition: all ease .3s;
}
.nav-link::before {
  transform: translateX(-50%);
  opacity: 0;
  width: 20%;
  height: 6px;
  position: absolute;
  bottom: 5px;
  left: 50%;
  opacity: 0;
  pointer-events: none;
  content: "";
  border-radius: 6px;
  background-color: rgb(233, 128, 0);
}
.nav-link.activated::before {
  width: 70%;
  opacity: 1;
}

.navbar {
  justify-content: space-between;
}

@media(max-width: 991px) {
  .nav-link::before {
    width: 5%;
  }
  .nav-link.activated::before {
    width: 50%;
    opacity: 1;
  }
  .navbar {
    justify-content: center;
  }
  .navbar-brand {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-toggler {
    position: absolute;
    right: 10px;
    top: 14px;
  }
  .navbar-collapse {
    margin-right: 0;
  }
  .nav-item {
    visibility: hidden;
    flex: 0;
  }
  .navbar-nav {
    flex-direction: row;
  }
  
  .show .nav-item {
    visibility: visible;
  }
  .show .nav-item {
    flex: 1;
    transition: 300ms;
    transition-timing-function: ease-out;
  }
}


/* -------------------------------------------------------------------------------------------------------------------------- */

/* ------------------------ HOME PAGE STYLINGS ----------------------------------------------------*/
.homeHeader {
  font-family:Khula-ExtraBold;
  position: absolute;
  top: -15px;
  font-size: 60px;
}
.homeRow {
  padding-bottom: 100px;
  margin-left: 50px;
  margin-right: 50px;
  flex-direction: row;
  margin-top: -380px;
  position: relative;
  justify-content: space-between;
}
.homeRow .iconTitle {
  color: white;
  position: absolute;
  top: 100px;
}

.homeProjectContainer {
  height: fit-content;
}

.homeProjectContainer.projectPeak {
  display: flex;
  position: relative;
  padding:25px;
  background-color: rgba(250, 151, 29, 0.8);
  border-radius: 25px;
}
.homeProjectContainer.projectStack {
  display: flex;
  flex-direction: column;
  padding-right: 0;
  align-items: center;
}

.imageBox.imageBoxHome {
  border-radius: 25px;
  transform: translateY(50px);
}

.imageBox.imageBoxHome  .img-fluid {
  width: 100%;
}

.homeIconImages {
  position: absolute;
  background-color: rgba(250,250,250,0.5);
  display: flex;
  width: fit-content;
  justify-content:flex-end;
  padding-right: 5%;
  padding-top: 3px;
  bottom: 0;
  right: 0;
  color: white;
}

.homeIcon{
  font-size: 50px;
  margin: 5px;
}

#Frontend {
  background-color: rgb(226, 78, 66);
}
#Tools {
  background-color: rgb(233, 128, 0);
}
#Backend {
  background-color: rgb(232, 110, 128);
}

.landingGreeting {
  padding: 20px;
  margin-top: 100px;
  font-size: 30px;
  text-align: center;
  font-family: Khula-Bold;
  display: flex;
  color: white;
  border-radius: 25px;
  height: fit-content;
  margin: 0 auto;
  margin-bottom: 10px;
}

@media(min-width: 1200px) {
  .homeProjectContainer.projectStack {
    transform:translateY(0px) translateX(10px);
  }
  .homeProjectContainer.projectStack .stackContainer {
    flex-direction: row;
    align-items: center;
  }
  .homeProjectContainer.projectStack .displayIcon {
    height: 150px;
    width: 150px;
    font-size: 100px;
  }
  .homeProjectContainer.projectStack h3 {
    font-size: 20px !important;
  }
  .homeProjectContainer.projectStack .stackContainer .iconBox {
    margin-left: 5px;
    height: 100%;
    width: 41.6666667%;
  }
}
@media(max-width: 1199px) {
  .homeRow {
    justify-content: center;
  }
  .landingGreeting,
  .homeProjectContainer {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .landingGreeting {
    order: 1;
  }
  .homeProjectContainer.projectPeak {
    order: 3;
  }
  .homeProjectContainer.projectStack {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    order: 2;
  }
  .homeProjectContainer.projectStack .stackContainer {
    margin: 0 !important;
  }
}
@media(max-width: 735px) {
  .homeProjectContainer.projectPeak {
    padding: 0;
    width: 100% !important;
  }
  .homeRow {
    margin-left: 0;
    margin-right: 0;
  }
}
@media(max-width: 423px) {
  .homeProjectContainer.projectStack {
    justify-content: center;
  }
}

/*-------------------------------------------------------------------------------------------------------------------------- */

/* ---------------------------- ABOUT ME PAGE STYILINGS ---------------------------------------------------- */
.taiwanBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -20%;
}
.taiwanPhoto {
  width: 400px;
  clip-path: circle();
}
.aboutMeRow {
  text-align: center;
}
.iconTitle {
  font-family: Khula-ExtraBold;
  text-align: center;
  margin-top: -270px;
  color: white;
}

.pageTitle{
  font-size: 70px;
}
@media(max-width: 991px) {
  .container {
    margin-top: 0;
  }
  .iconTitle {
    margin-top: -150px;
  }
}
@media(max-width: 575px) {
  .pageTitle{
    font-size: 40px !important;
  }
}

@media (max-width: 767px), (max-height: 420px) {
  .iconTitle {
    margin-top: -130px;
  }
}
.aboutTextBox {
  text-align: left;
  font-family:Arial, Helvetica, sans-serif;
}
.Aha {
  transition: 300ms;
}
.Aha:hover {
  font-size: 100px;
  font-weight: bold;
  transition: 300ms;
}
.aboutTextLink {
  color:rgb(0, 143, 149);
  text-decoration: none;
  font-weight: 600;
  transition: 300ms;
}
.aboutTextLink:hover {
  color: rgb(232, 110, 128);
  transition: 300ms;
}
.signature {
  text-align: right;
  font-family:Arial, Helvetica, sans-serif;
}

@media(max-width: 991px) {
  .taiwanBox {
    order: 1;
    margin-top: 30px;
  }
  .aboutTextBox {
    order: 2;
  }
  .lineRest {
    order: 3;
  }
}

.iconRow {
  justify-content: space-evenly; 
  text-align: center;
  font-family: Khula-ExtraBold;
  padding-bottom: 30px;
  margin-top: 300px;
}
.iconRow > .iconTitle {
  color: black;
}

.specialText{
  font-weight: 400;
  font-size: 18px;
}

.lineBreak {
  height: 2px;
  background-color: rgb(0, 143, 149);
  width: 120px;
  border-radius: 100%;
  justify-self: center;
  margin: 0 auto;
  text-align: center;
}

.stackContainer {
  display: flex;
  flex-direction: column;
  width: fit-content;
  text-align: center;
}

.displayIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  font-size: 150px;
  color: white;
}


.iconSource {
  font-size: 30px;
  width: 200px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.icon {
  margin: 5px;
}

/*------------------------------PROJECTS PAGE STYLINGS --------------------------------------------------------*/

.projectsRow {
  text-align: center;
}
/*
@media(max-width: 991px) {
  .projectsRow,
  .aboutMeRow,
  .blogRow,
  .contactRow,
  .homeRow {
    margin-top: 50px;
  }
}*/

.projectStrip {
  border-radius:15px;
  padding: 0;
  margin-top: 25px;
  margin-bottom: 50px;
  overflow-x: hidden;
  box-shadow: 5px 10px 8px rgb(0 0 0 / 50%);
}

.projectContainer > :last-child {
  margin-bottom: 100px;
}

@media(max-width: 1199px) {
  .projectStrip {
    flex-direction: column;
  }
}

.imageBox {
  overflow: hidden;
  position: relative;
  padding-left: 0;
  padding-right: 0;
}

.carousel {
  flex-wrap:nowrap;
  transition: 300ms;
  margin-left: 0;
  margin-right: 0;
}

.imageSlide {
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.websiteLink {
  text-decoration: none;
}

.arrowBox {
  position: absolute;
  display: flex;
  align-items: center;
  height: 100%;
  background-color: rgba(203, 203, 203, 0.3);
  top: 0;
  z-index: 100;
  color: rgba(255, 255, 255, 0.3);
  width: fit-content;
  font-size: 35px;
  transition: 300ms;
}

.textBox {
  position: relative;
}
.projectTitle {
  text-align: center;
  padding-top: 10px;
}
.projectBlurb {
  padding: 30px;
  padding-top: 10px;;
  text-align: left;
  font-size: 18px;
  text-align: left;
  font-style:italic;
}
.learnMoreButton{
  background-color: rgb(233, 128, 0);
  width: fit-content;
  padding: 10px;
  border-radius: 25px;
  margin: 0 auto;
  margin-top: auto;
  margin-bottom: 15px;
  font-weight: 600;
  font-family: Khula-Regular;
  color: white;
  box-shadow: 5px 10px 8px rgb(0 0 0 / 50%);
  transition: 300ms;
}
@media(min-width: 1400px) {
  .learnMoreButton {
    font-size: 20px;
  }
}
@media(max-width: 1399px) {
  .learnMoreButton {
    font-size: 10px;
    margin-top: -25px;
  }
  .projectBlurb {
    padding-top: 0;
  }
}
@media(max-width: 1199px) {
  .learnMoreButton {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 30px;
  }
  .projectBlurb {
    padding-top: 10px;
  }
}

.learnMoreButton:hover {
  transition: 300ms;
  transform:scaleY(120%) scaleX(120%);
}
.keyWordsBox {
  display: flex;
  flex-wrap: wrap;
}
@media(min-width: 1200px) {
  .keyWordsBox {
    position: absolute;
    bottom: 0;
    left: 5px;
  }
}
.keyword {
  font-size: 10px;
  margin:0;
  width: fit-content;
  color: white;
  border-radius: 15px;
  background-color:rgb(0, 204, 204);
  padding: 5px;
}

/*------------------------------------------------------------------------------------------------------------------------------------*/

/*---------------------------------------BLOG PAGE STYLINGS -----------------------------------------------------------------------------*/
.blogRow {
  justify-content: center;
  text-align: center;
}
.blogEntry {
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.blogTitle {
  font-family: Khula-Bold;
  position: relative;
  align-items: center;
  flex-wrap:wrap;
  color: white;
  text-align: center;
  font-size: 30px;
  border-radius: 15px;
  padding: 5px;
  margin: 5px;
  transition: 300ms;
}

@media(min-width: 993px) {
  .blogTitleText {
    text-align: start;
    padding-left: 20px;
  }
}

@media(max-width: 767px) {
  .blogTitle {
    justify-content: center;
  }
}

.blogArrow {
  height: fit-content;
  position: absolute;
  color: white;
  font-size: 20px;
  transition: 300ms;
}

@media(min-width: 768px) {
  .blogArrow {
    right: 25px;
    top: -40px;
    color: black;
  }
}

@media(min-width: 992px) {
  .blogArrow {
    right: 25px;
    top: 15px;
    color:white;
  }
}

@media(max-width: 767px) {
  .blogArrow {
    color: white;
    bottom: 0;
    right: 15px;
  }
}
.blogArrowIcon {
  transition: 300ms;
}
.rotate {
  transform:rotate(-180deg);
  transition: 300ms;
}
.blogContent {
  text-align: left;
  font-size: 20px;
  margin: 20px;
  margin-top: 40px;
  position: relative;
}
.blogContent.hidden {
  overflow: hidden;
  height: 0;
  transition: 300ms;
}
@media (hover: hover) and (pointer: fine) {
  .blogEntry:hover .blogContent.hidden {
    position: relative;
    height: 40px;
  }

  .blogEntry:hover .rotate {
    transform:rotate(-125deg)
  }
}


.dateBox {
  text-align: center;
  padding: 7px;
  flex-wrap: nowrap;
  width: fit-content;
  height: fit-content;
  border-radius: 50px;
  color: white;
  font-size: 12px;
}

.textFlavor {
  color:rgb(226, 78, 66);
  font-weight: 500;
  text-decoration: none;
}
.textFlavor:hover {
  color:rgb(226, 78, 66);
}

/*----------------------------------------------------------------------------------------------------------------------------------*/

/*----------------------------------------- CONTACT PAGE STYLINGS --------------------------------------------------------------------- */
.status-message {
  opacity: 0;
  margin: 0 auto;
  width: fit-content;
  margin-bottom: 30px;
  margin-top: 15px;
  font-size: 20px;
  border-radius: 30px;
  box-shadow: 5px 10px 8px rgb(0 0 0 / 50%);
  font-family:Khula-Regular;
  font-weight: 600;
  padding: 10px;

}
.success {
  opacity: 1;
  background-color: limegreen;
}
.failure {
  opacity: 1;
  background-color: red;
}
.issue {
  color: white;
  background-color: red;
  width: fit-content;
  justify-self: center;
  margin: 0 auto;
  border-radius: 15px;
  padding: 5px;
  text-align: center;
  font-family:Khula-Regular;
  font-size: 17px;
}
.contactRow {
  justify-content: center;
  padding-bottom: 75px;
}

.emailForm {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  box-shadow: 5px 10px 8px rgb(0 0 0 / 50%);
  padding: 30px;
  background-color:rgba(0, 143, 149, 0.7);
  border-radius: 15px;
}
.formLabel {
  font-family:Khula-Regular;
  color: white;
  font-weight: 600;
  font-size: 20px;
}
.usernameInput {
  width: fit-content;
}
.emailInput {
  width: fit-content;
  border: 2px solid grey;
}
.emailInput:active {
  outline: none;
}
.contentArea {
  min-height: 300px;
  border: 2px solid grey;
}
.accent {
  color:rgb(226, 78, 66);
  padding-left: 5px;
}
.formSubmitButton {
  width: fit-content;
  align-self: center;
  outline: none;
  border: none;
  background-color: rgb(233, 128, 0);
  font-size: 20px;
  width: fit-content;
  margin-top: auto;
  border-radius: 30px;
  padding: 10px;
  font-weight: 500;
  font-family: Khula-Regular;
  color: white;
  box-shadow: 5px 10px 8px rgb(0 0 0 / 50%);
  transition: 300ms;
}
.formSubmitButton:hover {
  transform:scaleY(125%) scaleX(125%);
}



/*------------------------------------------------------------------------------------------------------------------------------------*/

/* ----------------------------------- FOOTER PAGE STYLINGS ---------------------------------------------------- */
#footer {
  position: absolute;
  padding: 0;
  margin: 0;
  bottom: 0;
  right: 0;
}
.webIcon {
  width: fit-content;
  padding: 5px;
  margin: 5px;
  font-size: 30px;
}
.webIcon a {
  color: rgb(0, 143, 149);
}
.webIcon:hover {
  transform:scale(110%);
  transition: 300ms;
}

.github:hover {
  color: rgb(226, 78, 66);
}
.linkedIn:hover {
  color: rgb(232, 110, 128);
}
.mail:hover {
  color: rgb(233, 128, 0)
}

/*----------------------------------------------------------------------------------------------------*/

